<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.kargotest.miya">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level: %msg%n"/>
        </Console>
        <RollingFile name="yorencservice" fileName="log/royenservice.log" filePattern="log/yorencservice-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="yorencservice"/>
        </Root>
        <Logger name="com.kargotest.miya" level="debug" additivity="false">
            <appender-ref ref="yorencservice"/>
        </Logger>
    </Loggers>
</Configuration>